body {background-color: #DDD;}
#container1 {margin:0 auto;
width: 900px;
height: 100%;
border-radius: 0px 0px 0px 0px;
background: (images/1.png);
margin-top:0px;
-moz-box-shadow: 0px 0px 10px #BBB;
-webkit-box-shadow: 0px 0px 10px #BBB;
box-shadow: 0px 0px 25px rgba(0,0,0,0.6);
}